@use "../../../../public/assets/sass/variables" as vars;

.name-bar {
  background-color: vars.$maroon;
  padding: 0.5rem;

  h2 {
    margin: 0;
    padding: 0.25rem 0.5rem;
    color: vars.$blush;
    font-weight: 500;
  }
}

/* WRAPS ALL ICON WRAPPERS IN A ROW */
.icon-row {
  background-color: vars.$peach;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 0.18rem solid vars.$maroon;
  padding: 2.5rem;
  margin-bottom: 2.5rem;
}

/* WRAPS THE ICON CIRCLE AND THE TEXT BELOW IT */
.icon-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  width: 10rem;
  background-color: vars.$plumLight;
  border: 0.25rem solid vars.$plum;
  border-radius: 2rem;
  padding: 2rem;
}

/* WRAPS THE ICON IN A MAROON CIRCLE */
.icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  width: 6rem;
  background-color: vars.$maroon;
  border-radius: 50%;

  .icon {
    width: 4rem;
  }
}

/* TEXT BELOW ICON CIRCLE */
.info-text {
  &.line-1 {
    font-weight: 400;
  }
  &.line-2 {
    margin: 0;
  }
  text-align: center;
  font-weight: 400;
  color: vars.$maroon;
}

/* BUTTON */
.return-btn {
  background-color: vars.$maroon;
  color: vars.$blush;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
}

.return-btn:hover {
  background-color: vars.$plum;
  color: vars.$blush;
}
