@use "../../../../public/assets/sass/variables" as vars;

/* WRAPS ALL ICON WRAPPERS IN A ROW */
.icon-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2.5rem;
}

/* WRAPS THE ICON CIRCLE AND THE TEXT BELOW IT */
.icon-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  width: 20rem;
  background-color: vars.$alice;
  padding: 2rem;
}

/* WRAPS THE ICON IN A MAROON CIRCLE */
.icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  width: 6rem;
  background-color: vars.$aero;
  border-radius: 50%;

  .icon {
    width: 4rem;
  }
}

/* TEXT BELOW ICON CIRCLE */
.info-text {
  &.line-1 {
    font-weight: 400;
  }
  &.line-2 {
    margin: 0;
  }
  text-align: center;
  font-weight: 400;
  color: vars.$astros;
}

/* BUTTON */
.return-btn {
  background-color: vars.$astros;
  color: white;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
}

.return-btn:hover {
  background-color: vars.$aero;
  color: vars.$astros;
}

@media (min-width: 768px) {
  .icon-wrapper {
    flex: 1 1;
  }
}
