@import "../public/assets/sass/variables";

body {
  background-color: $platinum;
  font-family: "Lexend", sans-serif;
}

/* CONTENT WRAPPER */
.wrapper {
  padding: 1rem;
}

/* TYPOGRAPHY */
label {
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: $astros;
  font-size: 1rem;
}

input {
  font-size: 1rem;
  font-family: "Lexend", sans-serif;
}

.header {
  margin-top: 0;
  color: $astros;
}

/* FLEX */
.row {
  display: flex;
}

.row > * {
  width: 100%;
  max-width: 100%;
}

.col {
  flex: 1 0 0%;
  padding: 1rem;
}
