@import '../public/assets/sass/variables';

body {
  background-color: $plumMedium;
  font-family: "Lexend", sans-serif;
}

/* CONTENT WRAPPER */
.wrapper {
  padding: 1rem;
}

/* TYPOGRAPHY */
label {
  margin-bottom: .5rem;
  font-weight: 500;
  color: $maroon;
  font-size: 1rem;
}

input {
  font-size: 1rem;
  font-family: "Lexend", sans-serif;
}

.header {
  margin-top: 0;
  color: $maroon;
}

/* FLEX */
.row {
  display: flex;
  
}

.row>* {
  width: 100%;
  max-width: 100%;
}

.col {
  flex: 1 0 0%;
  padding: 1rem;
}