$plum: #8A6C78;
$peach: #E6CFC9;
$blush: #FDE8E3;
 body {
    font-family: "Lexend", sans-serif;
 }
.table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column nowrap;
    
}

.table-header {
    background-color: $plum;
    color: $blush;
}
  
  .row {
    display: flex;
    flex-wrap: wrap;
    border-bottom: .5px solid $plum;
    
  }

  .row:not(.table-header){
    background-color: $peach;
    color: $plum;
  }

  .row>* {
    width: 100%;
    max-width: 100%;
  }

  .cell:nth-child(1){
    flex: 0 0 auto;
    width: 12%;
    text-align: center;
  }

  .cell:nth-child(3){
    flex: 0 0 auto;
    width: 20%;
    text-align: center;
  }

  .cell:nth-child(4){
    flex: 0 0 auto;
    width: 12%;
    text-align: center;
  }
  
  
  .cell {
    flex: 1 0 0%;
    padding: 1rem;
  }