<div class="wrapper">
    <h1 class="header">Employee Directory</h1>
    <!--SORT FILTER-->
    <div class="row input-label-row">
        <label for="sortSelect">Sort by:</label>
    </div>
    <div class="row input-row">
            <div class="sort-select">
                <select id="sortSelect" value="selectedSort" [(ngModel)]="selectedSort"
                    (ngModelChange)="onSelectionChange($event)">
                    <option value="id">ID</option>
                    <option value="employee_name">Name</option>
                </select>
            </div>

        <div class="spacer"></div>

        <div>
            <input id="searchInput" class="txtInput" type="text" placeholder="Search by employee name"
                (input)="updateFilter($event)">
        </div>
    </div>
    <!--DOES THE EMPLOYEE'S NAME START WITH A VOWEL-->
    <div class="vowel-row">
        <label for="vowelNumInput">Does the employee's name start with a vowel?</label>
        <div>
            <input id="vowelNumInput" type="number" placeholder="Enter an employee ID"
                (input)="findEmployeeById($event)">

            <p class="employee-vowel-txt">{{isVowelTxt$ | async}}</p>
        </div>
    </div>
    <!--TABLE-->
    <div class="table" role="table" *ngIf="(isLoaded$ | async)">
        <div class="table-header" role="row">
            <div class="cell" role=""></div>
            <div class="cell" role="columnheader">ID</div>
            <div class="cell" role="columnheader">Name</div>
            <div class="cell" role="columnheader">Salary</div>
            <div class="cell" role="columnheader">Age</div>
        </div>
        <div class="table-body-wrapper" role="rowgroup">
            <ng-container *ngIf="(filteredEmployees$ | async)?.length; else notFound">
                <div class="rows-wrapper" *ngFor="let employee of filteredEmployees$ | async; let i = index">
                    <div class="row table-row" role="row" [attr.aria-rowindex]="i"
                        [routerLink]="['employee-detail', employee.id]">
                        <div class="cell" role="cell"><img src="assets/avatar.svg" class="avatar" alt="" />
                        </div>
                        <div class="cell" role="cell"><span class="mobile-labels">ID: </span>{{employee.id}}</div>
                        <div class="cell" role="cell"><span class="mobile-labels">Name: </span>
                            {{employee.employee_name}}
                        </div>
                        <div class="cell" role="cell"><span class="mobile-labels">Salary:
                            </span>{{employee.employee_salary | currency:'USD'}}
                        </div>
                        <div class="cell" role="cell"><span class="mobile-labels">Age: </span>{{employee.employee_age}}
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<!--TEMPLATES-->
<ng-template #notFound>
    <div class="not-found-wrapper">
        <p>No employees found. Please try again.</p>
    </div>
</ng-template>