@use "../../../../public/assets/sass/variables" as vars;

/* TABLE CONTROLS */

.input-row {
  #searchInput {
    width: 100%;
  }

  div:nth-child(3),
  div:nth-child(2) {
    display: flex;
  }

  .sort-select {
    display: flex;
    width: fit-content;
    border: 1px solid vars.$columbia;
    border-radius: 0.25em;
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: vars.$alice;
  }

  select {
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    height: inherit;
  }
}

input {
  background-color: vars.$alice;
  color: vars.$astros;
  border: 1px solid vars.$columbia;
  border-radius: 0.25rem;
  padding: 0.85rem;
  font-size: 1rem;
}

.spacer {
  width: 1rem;
}

.vowel-row {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

  div {
    display: flex;
  }
  .employee-vowel-txt {
    margin: auto auto auto 1rem;
    color: vars.$astros;
    font-weight: 400;
    font-size: 1rem;
  }
}

/* TABLE */
.table {
  width: 100%;
  margin-top: 1rem;
}

.not-found-wrapper {
  background-color: white;
  color: vars.$astros;
  padding: 0 1rem;
  text-align: center;
}

.row:not(.table-header, .input-row, .input-label-row, .vowel-row) {
  background-color: white;
  color: vars.$astros;
  border-bottom: 0.5px solid vars.$astros;
}

.table-body-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.table-row {
  align-items: center;
}

.table-row:hover {
  background-color: vars.$aero !important;
  cursor: pointer;
}

.avatar {
  width: 2rem;
}

/* MEDIA QUERIES */

/* lg, xl , xxl screens */
@media (min-width: 768px) {
  .mobile-labels {
    display: none;
  }

  .table-header {
    background-color: vars.$astros;
    color: white;
    display: flex;
  }

  .cell {
    padding: 0.5rem;
  }

  .cell:nth-child(2),
  .cell:nth-child(1),
  .cell:nth-child(5) {
    flex: 0 0 auto;
    width: 12%;
    text-align: center;
  }

  .cell:nth-child(3) {
    flex: 0 0 auto;
    width: 34%;
    text-align: center;
  }

  .cell:nth-child(4) {
    flex: 0 0 auto;
    width: 20%;
    text-align: center;
  }
}

/* xs, sm, md screens */
@media (max-width: 767.99px) {
  .cell {
    width: 100%;
    flex: auto;
    padding: 0.26rem;
    text-align: center;
  }

  .input-row {
    flex-direction: column;
    #searchInput {
      margin: 1rem 0;
    }
  }

  .vowel-row {
    div {
      flex-direction: column;
      align-items: start;
    }

    #vowelNumInput {
      margin: 1rem 0;
    }
  }

  .employee-vowel-txt {
    text-align: left;
    margin: 0 !important;
  }

  .row:not(.table-header, .input-row, .vowel-row) {
    flex-wrap: wrap;
  }

  .table-header {
    display: none;
  }

  .table {
    margin-top: 1rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row nowrap;
  }

  .table-row {
    padding: 1rem;
  }
}
